
        <fieldset>
            <legend>Chestionar</legend>
            <form method="POST" action="/rezultat-chestionar">
            <% var imputNames="var";%>
            
            <% for( var j=0; j<intrebari.length;j++) { %>
                <% var imputNames="var" + (j+1);%>
                <label for="intrebare"><%- intrebari[j].intrebare %>:</label><br> 
                <% for (var i=0; i<4;i++ )  { %>
                    <input type="radio" name="<%- imputNames;%>" value="<%=i%>" required>
                    <%- intrebari[j].variante[i] %></br> 
                <% }  %>
                <br>
               

            <%  } %>
            <input type="submit" value="Submit">
            </form>
        </fieldset>
    






