
    <%if (log==null) { %>
       <h3> Bine ai venit! </h3>
     
    <%} else { %>
        <h3> <%= log %> </h3>
        
        <!-- <input type="submit" value="Delogare"> -->
        <form action="/inserare-bd" method="GET"> 
            <button>Incarcare BD</button>  
         </form>
        <br><br>
        <form action="/delogare" method="GET">
            <button>Delogare</button>
        </form>
        <form action="/creare-bd" method="GET">
            <button type="submit">Creare BD</button>
        </form>


    <% } %>
    
     

