<!DOCTYPE html>
<html lang="ro-RO">
    <head>
        <meta charset="UTF-8">
        <title>Papetarie</title>
    </head>

    <body>
        <header>
            <h1>Papetarie</h1>
            <hr>
        </header>

        <nav>
            <button id="creare_bd" >Creare BD</button> 
            <button id="load_bd">Incarcare BD</button>
        </nav>

       
        <footer>
            <hr>
            &copy; Miron Raul
        </footer>
    </body>
</html>