<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../public/style.css">
    </head>

    <style>
        <%- include('../public/style.css'); %>
    </style>
   
    <body>  
        
     <!-- <img src="../agenda.png" width="200" height="200" alt="logo" class="logo"> -->
        <h1>Papetarie</h1> 
        <nav class="site-nav"> 
            <a href="/" class="buton">Acasa</a>
            <a href="/autentificare" class="buton">Autentificare</a> 
            <a href="/chestionar" class="buton">Chestionar</a> 
            
            
        
        </nav> 
        <%- body -%>
    </body>
</html>