<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../public/style.css"> 
        <script src="../public/meci.js"></script>
    </head>

    <style>
        <%- include('../public/style.css'); %>
    </style>
 
    <body>  
        
        <h1>BETTING </h1>  
        
        <nav class="site-nav"> 
            <a href="/" class="buton">Acasa</a>
            <a href="/ponturi-pariuri" class="buton">Ponturi Pariuri</a> 
            <a href="/joc" class="buton">Joc</a> 
            
            
        
        </nav>   <br><br><br> 

        
        <%- body -%>
    </body>
</html>