@import url(//db.onlinewebfonts.com/c/aef726001a07788d4c639a835fa10360?family=FF+Tisa);
body{ 
    background-color:coral; 

}  

@font-face {font-family: "FF Tisa"; src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot"); src: url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.woff") format("woff"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/aef726001a07788d4c639a835fa10360.svg#FF Tisa") format("svg"); }

.text{ 
    text-indent: 3%;
}
h1{ 
    position: relative; 
    top:25px; 
    left:10px;  
    font-family:FF Tisa; 
    text-transform: uppercase;
    
} 

.site-nav{ 
    margin-left:60%;
    
}  
.textboxes{ 
    margin-left:20%; 
    margin-top:20px;  
    margin-right:20%;
    width:50%;
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;

}   
.textboxes:focus{ 
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}
.spans{ 
    margin-left:20%; 
    margin-top:20px;  
    font-family:FF Tisa; 
}
#stadion,#inceput,#reincarca{ 
    margin-left:20%; 
    margin-top:20px; 
    font-family:FF Tisa;  
    color:  black;
    border: 2px solid dodgerblue;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 dodgerblue;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}  
#stadion:hover{ 
    box-shadow: inset 0 100px 0 0 dodgerblue;
} 
#reincarca:hover{ 
    box-shadow: inset 0 100px 0 0 dodgerblue;
}
#inceput:hover{ 
    box-shadow: inset 0 100px 0 0 dodgerblue;
} 
#winner{ 
    font-family:FF Tisa;  
    color: black;
    border: 2px solid dodgerblue;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 dodgerblue;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s; 
    
} 
#winner:hover{ 
    box-shadow: inset 0 100px 0 0 dodgerblue;
}

.buton{ 
    padding:10px 15px 10px 15px;
    text-transform: uppercase;
    border-style: solid; 
    font-family:FF Tisa; 
    color:white; 
    border-color: black; 
    background-color: black; 
    text-decoration: none; 
    text-align: center; 
} 

.buton:hover{ 
    background-color:white; 
    padding: 20px 20px; 
    border:none; 
    color:black; 
    

}  
.logo{ 
    position: relative; 
    width: 100px; 
    height: 100px; 
    float:left;
    
} 
.text-side{ 
    font-family:FF Tisa;
}

img{ 
    width:400px; 
    height: 300px; 
    margin-left:30%;
}